{
  "presets": [
    [    
      "@babel/env",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "targets": {
          "ie": "11"
        },
        "debug": true
      }
    ]
  ]
}